/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: local('Lato Hairline'), local('Lato-Hairline'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/boeCNmOCCh-EWFLSfVffDg.woff) format('woff')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/KT3KS9Aol4WfR6Vas8kNcg.woff) format('woff')
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff')
}


@font-face {
	font-family: 'icomoon-MP';
	src:url('../fonts/icomoon.eot?oijv19');
	src:url('../fonts/icomoon.eot?#iefixoijv19') format('embedded-opentype'),
		url('../fonts/icomoon.woff?oijv19') format('woff'),
		url('../fonts/icomoon.ttf?oijv19') format('truetype'),
		url('../fonts/icomoon.svg?oijv19#icomoon-MP') format('svg');
	font-weight: normal;
	font-style: normal;
}*/


/*
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 100;
  src: 
    url('../fonts/lato-hairline-webfont.woff2') format('woff2'),*/ /* Chrome 26+, Opera 23+ */
    /*url('../fonts/lato-hairline-webfont.woff') format('woff');*/ /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
/*}*/

/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: 
    url('../fonts/lato-light-webfont.woff2') format('woff2'),*/ /* Chrome 26+, Opera 23+ */
    /*url('../fonts/lato-light-webfont.woff') format('woff');*/ /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
/*}*/

/*@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: 
    url('../fonts/lato-regular-webfont.woff2') format('woff2'), *//* Chrome 26+, Opera 23+ */
    /*url('../fonts/lato-regular-webfont.woff') format('woff'); *//* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
/*}*/


html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color:#eee;
}

body {
  height: 100%;
  line-height: 1.5rem;
  font-family: 'arial', sans-serif;
  font-weight: 200;
  font-size: 1rem;
  background-color: #eee;
  background: url(../images/1.png) no-repeat left top;
  background-size: contain;
  background-position-x: 50%;
  }

.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  width: 98%;
  height: 100%;
  display:block;  
  margin: 1rem auto;
}

.cont-margin {
	margin:1rem auto;
	}

#about {
	font-size:1.5rem;
	line-height: 2rem;
	width:100%;
	margin: 0 auto;
	text-align:justify;
	}
span img {
	float:right;
	max-width: 10%;
	}
/****************************** Oggi alla parabola *********************************************/

#upper, #lower {}

#about h2 {
	margin: 0;
	font-size: 2rem;
	line-height: 6rem;
	}
#about h3 {
	margin: 0;
	font-size: 1.5rem;
	line-height: 4rem;
	}
#about h4, #about h5 {
	margin: 0;
	font-size: 1.1rem;
	font-weight: 400;
	line-height:1.8rem;
	}
#about h5 {
	font-weight: 300;
	}	
#today-on {
	width: 50%;
	float: left;
	clear:both;
	margin: 3rem 0;
	}

#today-on img {
	max-width: 100%;
	}
#separatore {
	clear: both;
	line-height: 1rem;
	margin: 3rem 0;
	}
.box_dim {
	overflow: auto;
	}
#obs-data-vlbi, #obs-data-geo, #obs-data-astron, #obs-data-sd, #obs-data-line, #obs-data-maint {
	width: 45%;
	float: right;
	margin-top: 3rem;
	}
#obs-data-vlbi h2, #obs-data-geo h2, #obs-data-astron h2, #obs-data-sd h2, #obs-data-line h2, #obs-data-maint h2 {
	margin: 0 0 3rem 0;
	}
#obs-vlbi, #obs-geo, #obs-astron, #obs-sd, #obs-line, #obs-maint {
	width: 48%;
	float: left;
	margin-top: 3rem;
	text-align: center;
	}
/*#obs-data p {
	font-size: 1.1rem;
    font-weight: 400;
	margin:	0;
	}*/

#obs-vlbi img, #obs-geo img, #obs-astron img, #obs-sd img, #obs-line img, #obs-maint img {
	max-width: 100%;
	}
	
.clean {
	clear:both;
}

/****************************** resolutions *********************************************/

@media screen and (max-width: 800px) {
	
#about h5 {
	display:none;
	}
#about h2 {
	font-size: 1.5rem;
	line-height: 4rem;
	}
#about h3 {
	font-size: 1.5rem;
	line-height: 2rem;
	margin-bottom: 1rem;
	}
#about h4 {
	font-size: 1.1rem;
	}
#obs-data-vlbi, #obs-data-geo, #obs-data-astron, #obs-data-sd, #obs-data-line, #obs-data-maint {
	margin-top: 1rem;
	}
#obs-vlbi, #obs-geo, #obs-astron, #obs-sd, #obs-line, #obs-maint {
	margin-top: 1rem;
	}
span img {
	max-width: 6%;
	}
		
}

@media screen and (min-width: 855px) and (max-width: 1024px) {
	


} 
